# Ignorar node_modules, dist y logs
node_modules/
dist/
*.log

# Subir solo la carpeta src y archivos importantes
!.gitignore
!package.json
!vite.config.js
!tailwind.config.js
!postcss.config.js
!index.html

# Incluir carpeta src completa
!src/
!src/**